API_ID=
API_ID= 35969234
API_HASH= b7afdc316b5e86bee548ef4d4453a2ac
BOT_TOKEN= 8528029193:AAHUo1dXzaC4i0SuzrWHJyLRwgdJDW8n0Ik
LOGGER_ID= -1003283733710
MONGO_DB_URI= mongodb+srv://pk9729799_db_user:W6BbIWaBhy8RhfqI@merijaan.abujl57.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 8013091544
STRING_SESSION= BQIRaNsAoPlQ6A67TPssCMzE3yFbE50wTxF3oTAAgZmIapgEh2xo7zGiWeE4V2xBLg_MMRg_pEZn0ORjh9uaIsdJ7X4mf0P-WYQg-WmeR7PAkykwEmC3S0BNxstF3drJTSi0yKFOImoWTD30C8UiTME8BzCwQ1ULyOAUhgKsNOYcxmZo9hdmasZB-31YuK6wHAaCmn-IL8jRN2eIwpRy9NtSebOZKx68eMUM-H8Dyqqr3_uzCtHJnEEA7qw2XFr3y_RHs5H9hckYvmciyHwcWP4aEiLOe3R_eitjEn1n-e7SwHG7nqK0aCftXOeW6pZ9k3YGU_IiL_dKXro8pFuxjckLlim40gAAAAGnXQpBAA