API_ID= 35969234
API_HASH= b7afdc316b5e86bee548ef4d4453a2ac
BOT_TOKEN= 8594870522:AAGLLRuXUy-5lJnc3kPFxnSfRPynblE-d3M
LOGGER_ID= -1003414951601
MONGO_DB_URI= mongodb+srv://aryasingh464748_db_user:mcofiQXyehJJ30cb@aryababy.psy5mpl.mongodb.net/?appName=Aryababy
OWNER_ID= 8013091544
STRING_SESSION= BQF1s6cAwaAtDR2PTyWWfGQrJAOGdf7GpN28YeitfBlOO9GXYPAL18MWJapC88SuJq50HOvcTzo5VJeJOnbSBchFIx3FgF1MBiyFP5qMetDD7u7tevOq00FKzo0PCK9AsagRVWbVGfzqk44asJlzRXefrDIctRdxomy5LPxcmEPVWBnHAPn18FVYP6Tocw8PBtYN0RyRZoL-gtzIdk1u7_SOzlxqyN9xRl53iruC00Y_GF-ynCAZ3QTqCt8Ec01IZYI77FLPlGU25foDcGSsQNLuSsii3cGoI17TJFPEzUyWL5rqaJY6sWHhrKtsWBuwQSUR4Ba7uS9lXCg0sniodYmzLcESSwAAAAFlmqOKAA